/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eff3fb;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 796px;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  height: 660px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-top: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-section {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 12px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar-nav{
  padding-left: 12px;
  text-align: left;
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  padding: 10px 0;
  cursor: pointer;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

/* Sell History Styles */
#sell-history {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

#sell-history table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#sell-history th, .sell-history td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Selling Form Styles */
#selling-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#selling-form .form-group {
  margin-bottom: 20px;
}

#selling-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#selling-form input, .selling-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#selling-form .submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

a{
  text-decoration: none;
}